---
import "../styles/global.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { version } from "../../package.json";
import Mask from "../components/Mask.astro";
import { getTranslator } from "../i18n";

interface Props {
  locale: string;
  currentPage: string;
  showHeader?: boolean;
  showBottomBanner?: boolean;
}

const { locale, currentPage, showHeader = false, showBottomBanner = false } = Astro.props;

const t = getTranslator(locale);
---

<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Futuriza Me</title>
    <meta name="author" content="William Estrada" />
    <meta name="description" content={t("layout", "description")} />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Futuriza Me" />
    <meta property="og:description" content={t("layout", "ogDescription")} />
    <meta property="og:url" content="https://futuriza.me/" />
    <meta property="og:image" content="https://futuriza.me/assets/images/meta.png" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Futuriza Me" />
    <meta name="twitter:description" content={t("layout", "twitterDescription")} />
    <meta name="twitter:site" content="@peaceofsheep_" />
    <meta name="twitter:image" content="https://futuriza.me/assets/images/meta.png" />

    <link rel="icon" href="/assets/favicons/favicon.ico" />
    <link rel="icon" href="/assets/favicons/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon.png" />

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebPage",
        "name": "Futuriza Me",
        "description": "A message from the future",
        "url": "https://futuriza.me/",
        "author": {
          "@type": "Person",
          "name": "William Estrada"
        },
        "image": "https://futuriza.me/assets/images/meta.png"
      }
    </script>
  </head>

  <body>
    <div class="content">
      {showHeader && <Header locale={locale} currentPage={currentPage} />}
      <main>
        <slot />
      </main>
      <Footer locale={locale} version={version} showBanner={showBottomBanner} />
    </div>

    <Mask />
  </body>
</html>

<style>
  .content {
    display: flex;
    flex-direction: column;
    height: 100svh;
  }

  main {
    flex: 1 0 auto;
  }
</style>
